# Ignore everything by default
*

# Only include what we need
!pyproject.toml
!poetry.lock
!README.md
!gptme/
!static/
!media/

# Ignore files within included directories
gptme/__pycache__/
gptme/*.pyc
gptme/*.pyo
gptme/*.pyd
